

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(14,8,8,0.8939950980392157) 55%, rgba(51,27,27,0.9528186274509804) 75%, rgba(228,47,47,0.75) 93%);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    margin: 10px 50px;
    width: 1200px;
    height: 100%;
}

.background {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(14,8,8,0.8939950980392157) 55%, rgba(51,27,27,0.9528186274509804) 75%, rgba(228,47,47,0.75) 100%);
    background-size: cover;
    background-position:center; 
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho-link a{
    color: white;
}
main{
    padding-top: 2rem;
    text-align: center;
}
h1{
    color: rgb(247, 247, 247);
    font-size: 24px;
    font-weight: 600;
}

h2{
    color: rgb(248, 248, 248);
    font-size: 18px;
    font-weight: 300;
}

p{
    color: rgb(255, 255, 255);
    font-size: 16px;
}


img{
    border-radius: 8550px;
    border-style: hidden;
}